@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap');

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Bold.otf') format('opentype');
  font-weight: 600, 700;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400, 450;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
}

body {
  word-break: break-all;
}
